.addition {

  &__title {
    position: relative;

    font-family: @osvald-regular;
    font-size: 24px;
    line-height: 24px;

    margin: 0;
    padding: 20px 0px;
    padding-bottom: 25px;
  }

  &__title::after {
    content: "";
    position: absolute;
    right: -20px;
    top: 33px;

    width: 50px;
    height: 3px;

    background-color: @theme-back;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    flex-direction: column;

    border-top: 1px solid #cdcdcd;
    border-bottom: none;
  }

  &__item:last-child {
    border-bottom: 1px solid #cdcdcd;
  }

  &__name {
    text-transform: uppercase;

    font-family: @osvald-regular;
    font-size: 16px;
    line-height: 16px;

    margin: 15px 0;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    margin-bottom: 10px;
  }

  &__quantity,
  &__price {
    font-size: 14px;
    line-height: 14px;
    color: #444444;
    margin: 0;
    padding: 0;
  }

  &__button{
    width: 280px;
    margin-bottom: 15px;

  }
}

@media (min-width: @tablet-width) {
  .addition {
    &__title {
      font-size: 36px;
      line-height: 36px;

      padding-left: 35px;
    }

    &__title::after {
      width: 326px;
      right: -40px;
      top: 40px;
    }

    &__title::before {
      content: "";

      position: absolute;
      left: -40px;
      top: 40px;

      width: 30px;
      height: 3px;

      background-color: @theme-back;
    }

    &__item {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      width: 635px;
      padding: 0 35px;
      border: 1px solid #cdcdcd;
      border-bottom: none;
    }

    &__name {
      font-size: 20px;
      line-height: 20px;
      color: #222222;
      width: 300px;
      margin: 0;
    }

    &__wrapper {
      justify-content: flex-end;
      width: 230px;
      margin-top: 25px;
      margin-bottom: 20px;
    }

    &__button {
      width: 100%;
      padding: 8px 10px;
    }

    &__price {
      display: block;
      width: 90px;

      text-align: right;
    }
  }
}

@media (min-width: @desktop-width) {
  .addition {

    &__column {
      display: flex;
      justify-content: space-between;
    }

    &__title {
      margin: 75px 0;
    }

    &__title::after {
      width: 960px;
      right: -400px;
    }

    &__title::before {
      width: 70px;
      left: -80px;
    }

    &__item {
      width: 896px;
      border-left: none;
      border-right: none;
    }

    &__wrapper {
      justify-content: space-between;
      width: 325px;
      margin-top: 27px;
      margin-bottom: 27px;
    }

    &__button {
      width: 248px;
      margin: 0;
    }

  }
}
