.adress {

}


.adress__wrapper {
  display: flex;

}

.adress__title {
  font-family: @osvald-regular;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  width: 50%;
}

.adress__text {
  font-family: @arial-regular;
  font-size: 14px;
  line-height: 20px;

  width: 50%;
}


