.adress {
  position: relative;
}

.adress__wrapper {
  display: flex;
}

.adress__title {
  font-family: @osvald-regular;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  width: 50%;
}

.adress__text {
  font-family: @arial-regular;
  font-size: 14px;
  line-height: 20px;

  width: 50%;
}

.adress__map-container {
  position: relative;
  width: 320px;
  margin: 0 auto;
}

.adress__map {
  position: relative;
  width: 320px;

}

.adress__map-pin {
  position: absolute;

  top: 180px;
  left: 120px;

  width: 62px;
  height: 53px;

  background-image: url(/img/map-pin.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media (min-width: @tablet-width) {

  .adress__wrapper {
    justify-content: space-between;
    margin: 60px 0;
  }

  .adress__title {
    width: 165px;

    font-size: 20px;
    line-height: 25px;

    margin: 0;
  }

  .adress__text {
    width: 165px;

    text-align: right;

    font-size: 16px;
    line-height: 20px;

    color: #444444;

    margin: 0;
  }

  .adress__map-container {
    width: 768px;
  }

  .adress__map {
    width: 768px;
  }

  .adress__map-pin {
    position: absolute;

    top: 150px;
    left: 330px;

    width: 124px;
    height: 106px;

    background-image: url(/img/map-pin_tablet.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

}
