.experience {
  background-color: @footer-back;
}

.experience__title {
  font-family: @osvald-regular;
  font-size: 36px;
  line-height: 60px;

  padding: 0;
  margin: 0;

  padding-top: 30px;
  margin-bottom: 30px;
}

.experience__text {
  font-family: @arial-regular;
  font-size: 14px;
  line-height: 18px;

  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}


.experience__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  list-style: none;

  padding: 0;
  margin: 0;

  margin-bottom: 38px;
}

.experience__item {
  position: relative;
}

.experience__fact {
  display: block;
  padding: 15px 0;
  width: 125px;

  font-family: @osvald-regular;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

.experience__about {
  position: absolute;

  top: 35px;
  left: 20px;

  width: 77px;
  padding: 0 5px;

  background-color: @footer-back;

  font-family: @arial-regular;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
}

.experience__price {

  font-family: @osvald-regular;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  margin-bottom: 45px;
}

.experience__cat-box {
  display: flex;
  flex-direction: column-reverse;
  width: 280px;
  height: 280px;
}

.experience__rabbit {
  display: none;
  width: 280px;

}

.experience__rabbit--show {
  display: block;
}

.experience__range {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
  padding-bottom: 40px;
}

.experience__progress {
  position: relative;
  display: flex;
  align-items: center;
  width: 85px;
  height: 14px;

  background-color: @light-back;

  border: 1px solid #d9d9d9;
  border-radius: 15px;
}

.experience__progress::after {
  content: "";
  position: absolute;
  top: 4px;

  right: 5px; //js  left: 5px;

  width: 35px;
  height: 6px;
  border-radius: 6px;
  background-color: @theme-back;
}


.experience__button {
  font-family: @osvald-regular;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: 0;
  background-color: rgba(00, 00, 00, 0);
  padding: 5px 5px;

  cursor: pointer;
}


@media (min-width: @tablet-width) {
  .experience {
    background-image: linear-gradient(#ffffff 0%, #ffffff 57%, #f2f2f2 57%, #f2f2f2 100%);
  }

  .experience__title {
    font-size: 60px;
    line-height: 60px;
  }

  .experience__text {
    font-size: 16px;
    line-height: 24px;
  }

  .experience__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .experience__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
  }

  .experience__price {
    font-size: 20px;
    line-height: 20px;
    width: 192px;
    text-align: right;
  }

  .experience__fact {
    width: 160px;
    font-size: 30px;
    line-height: 30px;
  }

  .experience__about {
    position: relative;
    width: auto;

    top: auto;
    left: auto;
    bottom: 9px;

    margin: 0;

    padding: 0 5px;
    font-size: 14px;
    line-height: 14px;

    text-align: center;
    background-color: rgba(255, 255, 255, 1);
  }

  .experience__cat-box {
    display: block;

    width: auto;
    height: auto;
  }

  .experience__progress {
    position: relative;
    display: flex;
    align-items: center;
    width: 428px;
    height: 6px;

    background-color: #d9d9d9;
    border-radius: 3px;
  }

  .experience__progress::before {
    content: "";
    position: absolute;
    top: -14px;

    right: 250px; //js  change;

    width: 34px;
    height: 34px;
    background-color: @light-back;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(205, 205, 205);
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  }

  .experience__progress::after {
    content: "";
    position: absolute;
    top: 0;

    right: 264px; //js  change;

    width: 8px;
    height: 8px;
    background-color: @theme-back;
    border-radius: 50%;
  }

  .experience__range {
    width: 574px;
    margin: 0 auto;
  }

  .experience__button {
    border-bottom: 1px dashed #d9d9d9;
  }
}

@media (min-width: @desktop-width) {
  .experience {
    background-image: linear-gradient(#ffffff 0%, #ffffff 28%, #f2f2f2 28%, #f2f2f2 100%);
  }

  .experience__column {
    display: flex;
    justify-content: space-between;
  }

  .experience__info {
    display: flex;
    flex-direction: column;
  }

  .experience__title {
    margin-bottom: 135px;
  }

  .experience__text {
    width: 440px;

  }

  .experience__wrapper {
    flex-direction: column;
  }

  .experience__list {
    justify-content: space-between;
    width: 365px;
    margin-bottom: 56px;
  }
  .experience__item {
    margin: 0;
  }

  .experience__price {
    width: 335px;
    display: flex;
    justify-content: space-between;
    margin: 0;

  }
}


