
.experience{

}

.experience__title{
  font-family: @osvald-regular;
  font-size: 36px;
  line-height:60px;

  padding: 0;
  margin: 0;
}

.experience__text{
  font-family: @arial-regular;
  font-size: 14px;
  line-height:18px;

  padding: 0;
  margin: 0;
}


.experience__list{
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content: space-between;
  list-style: none;

  padding: 0;
  margin: 0;

  margin-bottom: 38px;
}

.experience__item {
  position: relative;
}

.experience__fact {
  display: block;
  padding: 15px 0;
  width: 125px;

  font-family: @osvald-regular;
  font-size: 24px;
  line-height:24px;
  text-align: center;
  vertical-align: middle;

  border: 1px solid #d9d9d9;
}
.experience__about{
  position: absolute;

  top:35px;
  left: 20px;

  width: 77px;
  padding: 0 5px ;

  background-color: @light-back;

  font-family: @arial-regular;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
}
