.how-to__title {
  font-family: @osvald-regular;
  font-size: 36px;
  line-height: 60px;

  padding: 0;
  margin: 0;
}


.how-to__list {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}

.how-to__item {
  position: relative;
  margin-left: 81px;
  margin-bottom: 20px;
}

.how-to__item:last-child {
  margin-bottom: 40px;
}

.how-to__item::before {
  content: "";
  position: absolute;

  width: 60px;
  height: 60px;
  top: 0;
  left: -80px;
  background-color: @theme-back;
}

.how-to__item--nature::before {
  background-image: url(../img/advantage-leaf@1x.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60px 60px ;
}

.how-to__item--struct::before {
  background-image: url(../img/advantage-powder@1x.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60px 60px ;
}

.how-to__item--eat::before {
  background-image: url(../img/advantage-dining@1x.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60px 60px ;
}

.how-to__item--time::before {
  background-image: url("../img/advantage-clock@1x.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60px 60px ;
}

@media (min-resolution: 1.5dppx) {
  .how-to__item--nature::before {
    background-image: url("../img/advantage-leaf@2x.png");

  }

  .how-to__item--struct::before {
    background-image: url("../img/advantage-powder@2x.png");
  }

  .how-to__item--eat::before {
    background-image: url("../img/advantage-dining@2x.png");
  }

  .how-to__item--time::before {
    background-image: url("../img/advantage-clock@2x.png");
  }
}

.how-to__text {
  font-family: @arial-regular;
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: @tablet-width) {
  .how-to {
    counter-reset: itemNum;
  }

  .how-to__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 30px;
  }

  .how-to__list {
    display: flex;
    flex-wrap: wrap;
  }

  .how-to__item {
    width: 354px;
    margin: 0;
    margin-bottom: 85px;
  }

  .how-to__text {
    width: 245px;
    margin-top: 140px;
  }

  .how-to__item::before {
    top: 40px;
    left: 0;

    width: 80px;
    height: 80px;
  }

  .how-to__item::after {
    counter-increment: itemNum;
    content: counter(itemNum);
    position: absolute;

    font-family: @osvald-regular;
    font-size: 281px;
    line-height: 281px;

    top: 0;
    left: 120px;

    color: #f2f2f2;
    z-index: -1;
  }

}

@media (min-width: @desktop-width) {
  .how-to__list {
    justify-content: space-between;
  }

  .how-to__item {
    width: 245px;
  }

  .how-to__text {
    width: 225px;
  }
}
