.page-footer {

}

.page-footer__main {
  display:flex;
  flex-direction: column;
  background-color: @footer-back;
}

.page-footer__container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 95px;

}

.page-footer__copyright{
  display: flex;
  justify-content: space-between;
  align-items:center;
  margin: 0;
  padding: 22px 0;
  font-family: @arial-regular;
  font-size: 16px;
  line-height: 16px;

  color: #444444;
}
