.programs {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.programs__list {
  position: relative;
  list-style: none;
  width: 280px;

  margin: 0;
  padding: 0 20px;
}

.programs__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 20px;
  padding-top: 30px;
  margin-bottom: 20px;
  background-color: @footer-back;
}

.programs__item:last-child {
  margin-bottom: 35px;
}

.programs__title {
  font-family: @osvald-regular;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  margin: 0;
  margin-left: 92px;
  margin-bottom: 35px;
}

.programs__text {
  width: 240px;

  margin: 0;
  padding: 0;

  padding-bottom: 23px;

  font-family: @arial-regular;
  font-size: 14px;
  line-height: 18px;

  border-bottom: 1px solid #d9d9d9;
}

.programs__illustration {
  position: absolute;
  top: 25px;
  width: 50px;
  height: 50px;
  background: #68b738;
  border-radius: 50%;
}

.programs__picture {
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}

.programs__link {
  margin-top: 20px;
  margin-bottom: 22px;
}

.programs__link span {
  font-family: @osvald-regular;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}


@media (min-width: @tablet-width) {
  .programs__wrapper {
    width: 768px;
  }

  .programs__list {
    width: 708px;
  }

  .programs__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 70px;
    padding-left: 60px;
  }

  .programs__item:last-child {
    margin-bottom: 20px;
  }

  .programs__title {
    font-size: 36px;
    line-height: 36px;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
  }

  .programs__text {
    width: 380px;

    font-size: 16px;
    line-height: 24px;

    margin-bottom: 60px;

    border: none;
  }


  .programs__illustration {
    width: 200px;
    height: 200px;
    top: 80px;
    right: 50px;
  }

  .programs__link {
    margin-bottom: 60px;
    padding: 0;

    color:#111111;
    &:active {
      color: #111111;
      opacity: 0.3;
    }
  }

  .programs__link span {
    font-size: 20px;
    line-height: 20px;

  }

  .programs__arrow {
    margin-left: 15px;
    margin-bottom: 3px;

    transform: translateX(0);
    transition: transform 0.4s;
  }

  .programs__link:hover .programs__arrow {
    transform: translateX(5px);
    transition: transform 0.4s;
  }

  .programs__link:active .programs__arrow {
    transform: translateX(5px);
    transition: transform 0.4s;
    opacity: 0.5;
  }

  .programs__picture--slim {
    width: 140px;
    height: 194px;
  }

  .programs__picture--pro {
    width: 268px;
    height: 112px;
  }
}

@media (min-width: @desktop-width) {
  .programs {
    flex-direction: row;
  }

  .programs__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }

  .programs__item {
    padding-right: 40px;

  }

  .programs__title {
    margin-left: 160px;
    margin-bottom: 65px;
  }

  .programs__text {
    width: 470px;
    padding: 0;
    margin-bottom: 30px;
  }

  .programs__link {
    margin-top: 0;
  }


  .programs__illustration {
    width: 100px;
    height: 100px;
    top: 40px;
    left: 50px;
  }


  .programs__picture--slim {
    width: 70px;
    height: 97px;
  }

  .programs__picture--pro {
    width: 134px;
    height: 56px;
  }
}
